/* src/styles/main.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

/* Color Theme Swatches in Hex */
:root{
    --blue: #2D3540;
    --lighterblue: #586473;
    --orange: #BF9775;
    --burntorange: #A65729;
    --brownorange: #733122;
    --text: #F2F2F2;
    --texttwo: #0c0b0b;
}




#app {
    background: linear-gradient(145deg, #2D3540, #586473);
    min-height: 100vh;
    color: var(--text);
}
/* Your custom CSS goes here */
.rb {
    border: 1px solid red;
  }
  
.bb {
border: 1px solid blue;
}